.product-container {
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    height: calc(100vh - 60px);
    align-items: center; 
    justify-content: start;
}
.Box {
    background-color: rgb(243, 243, 243);
     width: 270px;
      height: 320px;
      border-radius: 15px;
}
.Box img{
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}
.Box svg{
  right: 20px;
  top: 20px;
}
.Box .pop{
  border-radius: 15px;
  top: 40px;
  right: 20px;
  padding: 10px;
}
.Box .pop ul{
  list-style: none;
  margin: 0!important;
  padding: 0!important;
}
.Box .pop svg{
  font-size: 14px;
}